/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 0;
} */
body {
  background-image: url("./images/Jesko.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

header.MainPageBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
}

.typewriter h1 {
  font-family: "Times New Roman", Times, serif;
  color: white;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  border-right: 5px solid;
  animation: typing 1s steps(14) forwards, blink 1.75s step-end 3;
}
.buttonplacement {
  display: flex;
  gap: 10px;
}

.content {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  overflow-y: auto;
  filter: blur(4px);
}

.content:hover {
  filter: blur(0px);
  transition: filter 1s ease-in-out;
}

.content-inner {
  max-width: 800px;
}

.content h2,
.content p {
  margin-bottom: 10px;
}

.button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font: bold;
  background-color: rgb(50, 144, 221);
  width: clamp(160px, 192px, 320px);
  padding: clamp(20px, 24px, 40px);
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0.1);
  margin: 4px;
  border: 1px solid black;
  position: relative;
}

.button:hover {
  box-shadow: 0 0 10px rgb(255, 255, 255);
  background-color: white;
  border: 1px solid black;
  color: black;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
